In [1]:
import json
import numpy as np
import pandas as pd
import os
import torch
import torch.nn as nn
from torch import Tensor
import torch.nn.init as nn_init
import torch.nn.functional as F
from transformers import BertTokenizer, BertTokenizerFast
import math
import sklearn.preprocessing
from sklearn.cluster import KMeans
from einops import rearrange, repeat
from data import load
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from data import load
import random
import argparse
from models import Model
import matplotlib.pyplot as plt
from scipy.stats import gamma
import gc
from matplotlib.ticker import FormatStrFormatter
import seaborn as sns

In [2]:
statistic = dict()
for data in ['california_housing', 'jannis']:
    with open(f'./data/{data}/info.json') as f:
        info = json.load(f)
    l = []
    l.append(info.get('task_type'))
    l.append(info.get('n_num_features'))
    l.append(info.get('n_cat_features'))
    statistic[data] = l
statistic = pd.DataFrame(statistic).rename(index={0:'task_type', 1:'n_num_features', 2:'n_cat_features'})
statistic

               california_housing      jannis
task_type              regression  multiclass
n_num_features                  8          54
n_cat_features                  0           0

In [3]:
result = dict()
for model in ['MLP_ot']:
    result_ = []
    for data in ['jannis', 'california_housing']:
        result_.append(np.load(f'./results_number/{data}_{model}_1.0_default_42_0_kmeans.npy', allow_pickle=True))
    result[model] = result_

In [4]:
result = pd.DataFrame(result).rename(index={0:'jannis', 1:'california_housing'})
result = result.style.format("{:.3f}")
result